<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Audio Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lesson.css') }}">
</head>

<body>
    <div class="navbar">
        <ul>
            <div class="logo">
                <img src="../static/img/ublogo.png" alt="University Logo">
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/convert">Convert</a></li>
            <li><a href="/lesson">Lessons</a></li>
        </ul>
    </div>

    <!-- Centered Container for Books Grid -->
    <div class="container">
        <section class="books-grid">
            <div class="book-card">
                <a href="/laborlaw1">
                    <img src="../static/img/book.jpg" alt="Book 1"></a>
                <h3>Labor Laws and Legislation</h3>
                <p>Atty. Alden Reuben B. Luna Ph.L.</p>
            </div>
            <!-- Add more book-card divs as needed -->
        </section>
    </div>

</body>

</html>
