* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    height: 100vh;

    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar {
    width: 100%;
    height: auto;
    background-color: maroon;

}



.navbar ul {
    display: flex;
    padding: 20px;
}

.navbar li {
    list-style: none;
    margin: 10px;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.navbar li a {
    color: white;
    text-decoration: none;
}



.navbar li a:hover {
    font-size: 40px;
    transform: translateY(-5px);
    filter: drop-shadow(10px 10px 2px #999);
    font-size: 20px;

}

.logo {
    width: 20%;
    height: 3vh;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 30px;

}

.logo img {
    padding: 20px;
    width: auto;
    height: auto;
}

/* Container styling */
.container {
 width: 100%;
 height: 100vh;
 

}

.con-card {
 width: 80%;
 height: 50vh;
 gap: 30px;
 display: flex;
 justify-content: flex-end;
 margin: 0 auto;
 
}

.head-con {
    margin: 20px;
   
    
    background-color: #999;
}


.head-con h1 {

    padding: 10px;
    background-color: maroon;
    color: white;
}
/* Books Grid Styling */
.books-grid {
    
    /* Fixed 3 columns */
    gap: 0px;
    width: 40%;
    height: 20%;
    max-width: 900px;

    /* Controls the grid's max width */
}

.book-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.book-card h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.book-card p {
    color: #555;
    font-size: 0.9em;
}

.book-card:hover {
    transform: translateY(-5px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .books-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns for smaller screens */
    }
}

@media (max-width: 480px) {
    .books-grid {
        grid-template-columns: 1fr;
        /* 1 column for very small screens */
    }
}